[Unit]
Description=Unbound DNS server via resolvconf
After=unbound.service
PartOf=unbound.service
ConditionFileIsExecutable=/sbin/resolvconf

[Service]
RemainAfterExit=yes
ExecStart=/usr/libexec/unbound-helper resolvconf_start
ExecStop=/usr/libexec/unbound-helper resolvconf_stop

[Install]
WantedBy=unbound.service
